/Sys-FRS/Sys-FRS/build/
/Sys-FRS/Sys-FRS/dist/
/Sys-FRS/Sys-FRS/nbproject/private/
/CustomerOrderSystem/nbproject/private/
/CustomerOrderSystem/build/
/CustomerOrderSystem/dist/
/DeliverySystem/nbproject/private/
/DeliverySystem/dist/
/DeliverySystem/build/